
body {
  background-image: url("image/bg0.png");
  background-size: cover;
}
#result{
  font-size: 350%;
  color: #ffffff;
  z-index: 2;
  position: relative;
  left: 63%;
  bottom: 350px;
}

#Folder1{
  width: 200px;

  position: relative;
  bottom: 1300px;
  right: 2150px;
}

#Folder2{
  width: 200px;

  position: relative;
  bottom: 950px;
  right: 1940px;
}

#Q1{
  position: relative;

  left: 1200px;
  top: 500px;
}

#JSelectProp{
  color: #ffffff;
  z-index: 1;
  font-size: 450%;

  position: relative;

  left: 3350px;
  top: 2200px;
}

#searcher{
  position: relative;
  left: 1350px;
  bottom: 550px;
}

#id_textBox1{
  position: relative;
  left: 1350px;
  bottom: 550px;
}

#cmd{
  width: 2000px;
  height: 1000px;
  position: relative;
  left: 3300px;

}
